* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkgreen: #606634;
    --limegreen: #BBC340;
    --offwhite: #fcfcfc;
    --lightblue: #98D7FF;
    --darkblue: #62B4E7;
    --lightbrown: #876453;
    --button-color: #58A74C;
}

#app {
    display:grid;
    grid-auto-rows:minmax(0px, auto);
    grid-template-columns:minmax(0px, 1fr)repeat(6,minmax(0,175px))minmax(0px,1fr);
    background-color: var(--offwhite);
}

main, .main-section-container {
    grid-column: 2/8;
}

img {
    object-fit: cover;
}

.header-background {
    background-color: var(--darkgreen);
    grid-column: 1 / 9;
    height: 60px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.top-nav-bar {
    grid-column: 2 / 8;
    background-color: #606634b7;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-radius: bottom 10px;
    box-shadow: 0px 15px 10px -15px rgba(77, 145, 67, 0.3);
}

.nav-links ul {
    grid-column: 3 / 7;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.nav-links ul li {
    list-style: none;
    text-align: center;
}

.nav-links  ul li a {
    color: var(--offwhite);
    text-decoration: none;
}

.top-nav-bar > .logo-brand-container {
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    max-width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
}


.top-nav-bar > .nav-links {
    grid-column: 7 / 8;
}

.top-nav-bar > .nav-bar-button-container {
    grid-column: 5/6;
    max-width: 175px;
    width: 100%;
}
.top-nav-bar > .nav-bar-button-container > .nav-bar-button {
    width: 160px;
    height: 40px;
    font-size: 18px;
    color: var(--offwhite);
    background-color: var(--button-color);
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgba(77, 145, 67, 0.7);
    border-style: outset;
    cursor: pointer;
}

.nav-bar-button a {
    text-decoration: none;
    color: white;
}

.nav-bar-button:hover {
    background-color: white;
    color: var(--lightbrown);
    border: 2px solid var(--lightbrown);
}

.get-started-image {
    background-image: url("volunteering1.jpg");
    background-size: cover;
    background-position: 50% 30%;
    position: relative;
    grid-column: 1/9;
    width: 100vw;
    height: 550px;
}


#volunteering-image {
    background-image: url("volunteering2.jpg");
    background-size: cover;
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}

#volunteer-button {
    display:flex;
    margin: auto;
    margin-top: 10px;
    padding: 8px 8px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 3px;
    color: white;
    cursor: pointer;

}

#volunteer-button:hover {
    background-color: white;
    color: var(--lightbrown);
    border: 1px solid var(--lightbrown);
}

#donation-image {
    background-image: url("volunteering3.jpg");
    background-size: cover;
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}

#donation-button {
    display:flex;
    margin: auto;
    margin-top: 10px;
    padding: 8px 8px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

#donation-button:hover {
    background-color: white;
    color: var(--lightbrown);
    border: 1px solid var(--lightbrown);
}

p {
    grid-column: 2/7;
}

/* SLIDESHOW STUFF */
.slideshow-image {
    object-fit: cover;
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    object-position: 50% 0%;
    position: relative;
    grid-row: 3/4;
    grid-column: 1/9;
}

/* Slideshow container */
.slideshow-container {
    /*max-width: 100%;*/
    position: relative;
    margin: auto;
    grid-column: 1/9;
    width: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.slideshow-dots-container {
    text-align: center;
    margin: auto;
    grid-column: 4 / 6;
}
/* The dots/bullets/indicators */
.slideshow-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.4s ease;
    display: inline-block;
}

.active, .slideshow-dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.future-stuff {
    grid-column: 2/8;
    grid-row: 4/5;
    background-color: #000;
    height: 500px;
    color: white;
}

#about-image {
    grid-column: 2/4;
    grid-row: 5/6;
}

.about-text {
    grid-column: 4/8;
    grid-row: 5/6;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 10px;
}

.mission-text {
    grid-column: 2/5;
    grid-row: 6/7;
    font-size: 20px;
    margin-top: 10px;
}

#mission-image {
    grid-column: 5/8;
    grid-row: 6/7;
}

footer {
    background-color: var(--darkgreen);
    height: 70px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
}

footer h2 {
    margin-right: 8px;
}

#floating-panel {
    position: absolute;
    top: 10px;
    margin-top: 200px;
    left: 25%;
    z-index: 5;
    background-color: white;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
}

#find {
    grid-column: 2/8;
    grid-row: 2/3;
}

.search-area {
    grid-column: 2/8;
    grid-row: 3/4;
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    width: 100%;
}

#reset {
    margin-left: 5px;
    font-size: 20px;
}

#org-search {
    border-radius: 8px;
}

.organizations {
    width: 90%;
    margin: 24px 0;
    text-align: left;
}

.organizations > div:nth-child(even) {
    background-color: rgba(255,255,255,0.25);
}