<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="header-background">
        </div>
        <header class="top-nav-bar">
            <div class="logo-brand-container">
                <h2>AidHub</h2>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a class="nav-link" href="index.html">HOME</a></li>
                    <li><a class="nav-link" href="organizations.html">ORGANIZATIONS</a></li>
                </ul>
            </nav>
            <div class="nav-bar-button-container">
                <button class="nav-bar-button"><a href="getstarted.html">GET STARTED</a></button>
            </div>
        </header>
        <!-- Slideshow Stuff -->
        <div class="slideshow">
            <div class="slideshow-container">
                <div v-for="(image, index) in slideShow.slides" class="slideshow-slide">
                    <img :src="image.src" :alt="image.alt" class="slideshow-image">
                    <div class="slideshow-image-caption">{{ image.caption }}</div>
                </div>
            </div>
        </div>
        <a class="slide-show-next-btn" @click="moveToNextSlide()">&#10095;</a>
        <a class="slide-show-prev-btn" @click="moveToPreviousSlide()">&#10094;</a>
        <br>
        <div class="slideshow-dots-container">
            <span v-for="(slide,index) in slideShow.slides"
                :class="index == slideShow.currentIndex && 'slide-show-dot-active'" class="slideshow-dot"
                @click="moveToSlide(index)"></span>
        </div>
        <div class="future-stuff">
            <h1>Future map thing here</h1>
        </div>
        <div id="about-image">
            <img src="volunteering4.jpg" alt="about image" style="width: 400px; height: 500px" class="about-image">
        </div>
        <div class="about-text">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam neque eos fugit, pariatur nam qui tempora error reiciendis
                sit facilis et voluptate rem molestias quo, iusto quod nemo sint
                fugiat!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam neque eos fugit, pariatur nam qui tempora error reiciendis
                sit facilis et voluptate rem molestias quo, iusto quod nemo sint
                fugiat!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam neque eos fugit, pariatur nam qui tempora error reiciendis
                sit facilis et voluptate rem molestias quo, iusto quod nemo sint
                fugiat!</p>
        </div>
        <div class="mission-text">
            <h2>Mission</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam neque eos fugit, pariatur nam qui tempora error reiciendis
                sit facilis et voluptate rem molestias quo, iusto quod nemo sint
                fugiat!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam neque eos fugit, pariatur nam qui tempora error reiciendis
                sit facilis et voluptate rem molestias quo, iusto quod nemo sint
                fugiat!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam neque eos fugit, pariatur nam qui tempora error reiciendis
                sit facilis et voluptate rem molestias quo, iusto quod nemo sint
                fugiat!</p>
        </div>
        <div id="mission-image">
            <img src="volunteering3.jpg" alt="about image" style="width: 523px; height: 500px" class="about-image">
        </div>
    </div>

    <footer>
        <h2>AidHub</h2>
        <p>Sign up for our newsletter here!</p>
    </footer>
    <script src="app.js"></script>
    <script src="script.js"></script>
</body>

</html>