<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub - Organizations</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- Content goes here -->
        <div class="header-background">
        </div>
        <header class="top-nav-bar">
            <div class="logo-brand-container">
                <h2>AidHub</h2>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a class="nav-link" href="index.html">HOME</a></li>
                    <li><a class="nav-link" href="organizations.html">ORGANIZATIONS</a></li>
                </ul>
            </nav>
            <div class="nav-bar-button-container">
                <a href="getstarted.html">
                    <button class="common-green-button nav-bar-button">GET STARTED</button>
                </a>
            </div>
        </header>
        <main>
            <h1 id="find">Find organizations near you:</h1>
            <div class="search-area">
                <input type="text" placeholder="Search..." v-model="search" id="org-search">
                <div v-on:click="resetSearch()" id="reset">x</div>
            </div>
            <div class="organizations">
                <div class="row-head">
                    <div>Name
                        <span v-on:click="sortNames()" v-if="sortOrder == 'asc'">&and;</span>
                        <span v-on:click="sortNames()" v-else>&or;</span>
                    </div>
                    <div>Category</div>
                    <div>City</div>
                    <div>State</div>
                    <div>Mission Statement</div>
                </div>

                <div v-for="org in filteredOrganizations"
                    class="row-body"
                    v-if="search.length > 0 && filteredOrganizations.length > 0"
                >
                    <div>{{org.orgname}}</div>
                    <div>{{org.location.city}}</div>
                    <div>{{org.location.state}}</div>
                    <div>{{org.missionStatement}}</div>
                </div>
                <div 
                    v-for="(org,index) in organizations" 
                    class="row-body" 
                    v-else
                >
                    <div>{{org.orgname}}</div>
                    <div>{{org.category}}</div>
                    <div>{{org.location.city}}</div>
                    <div>{{org.location.state}}</div>
                    <div>{{org.missionStatement}}</div>
                </div>
            </div>
    </div>
    <script src="script.js"></script>
</body>
</html>