* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkgreen: #606634;
    --limegreen: #BBC340;
    --offwhite: #fcfcfc;
    --lightblue: #98D7FF;
    --darkblue: #62B4E7;
    --lightbrown: #876453;
    --button-color: #876453;
}

#app {
    display:grid;
    grid-auto-rows:minmax(0px, auto);
    grid-template-columns:minmax(0px, 1fr)repeat(6,minmax(0,175px))minmax(0px,1fr);
    background-color: var(--offwhite);
}

.header-background {
    background-color: var(--darkgreen);
    grid-column: 1 / 9;
    height: 60px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.top-nav-bar {
    grid-column: 2 / 8;
    background-color: var(--lightbrown);
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.nav-links ul {
    grid-column: 3 / 7;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.nav-links ul li {
    list-style: none;
    text-align: center;
}

.nav-links  ul li a {
    color: var(--offwhite);
    text-decoration: none;
}

.top-nav-bar > .logo-brand-container {
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    max-width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--offwhite);
}


.top-nav-bar > .nav-links {
    grid-column: 7 / 8;
}

.top-nav-bar > .nav-bar-button-container {
    grid-column: 5/6;
    max-width: 175px;
    width: 100%;
}
.top-nav-bar > .nav-bar-button-container > .nav-bar-button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: var(--offwhite);
    background-color: var(--button-color);
    margin-top: 10px;
}

.get-started-image {
    background-image: url("volunteering1.jpg");
    background-size: cover;
    background-position: 50% 30%;
    position: relative;
    grid-column: 1/9;
    width: 100vw;
    height: 550px;
}

.main-section-container {
    grid-column: 2 / 8;
}

#volunteering-image {
    background-image: url("volunteering2.jpg");
    background-size: cover;
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}

#volunteer-button {
    display:flex;
    margin: auto;
    margin-top: 10px;
    padding: 8px 8px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    border-radius: 3px;
    color: white;
    cursor: pointer;

}

#volunteer-button:hover {
    background-color: white;
    color: var(--lightbrown);
    border: 1px solid var(--lightbrown);
}

p {
    grid-column: 2/7;
}