

#alina-jumping {
    display: block;
    width: 500px;
    height: 350px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.alina-section {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}

.alina-section p {
    width: 500px;
    padding: 2px;
    font-size: 17px;
}

#alina-qr h3 {
    margin-left: 70px;
    margin-top: 20px;
}

.thomas-section {
    display: flex;
    flex-flow: row nowrap;
}

#thomas-boi {
    display: block;
    width: 386px;
    height: 470px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.thomas-section p {
    width: 500px;
    padding: 2px;
    font-size: 17px;
}