* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkgreen: #606634;
    --limegreen: #BBC340;
    --offwhite: #F7F7F7;
    --lightblue: #98D7FF;
    --darkblue: #62B4E7;
    /* --footer-color: #4c9aa7; */
    --footer-color: #24a0ed;
    --lightbrown: #876453;
    --button-color: #58A74C;
    --search-button-color: #4c9aa7;
    --org-table-color: #606634;
    --header-color: #fcfcfc;
    --index-location-button: #24a0ed;
    --index-location-button-hover: rgb(36, 160, 237, 0.5);
}

#app {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr)repeat(6, minmax(0, 175px))minmax(0px, 1fr);
}

main,
.main-section-container {
    grid-column: 2/8;
}

img {
    object-fit: cover;
}

.common-green-button {
    background-color: var(--button-color);
    color: var(--offwhite);
    border: 2px solid var(--button-color);
    border-style: outset;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.common-green-button:hover {
    background-color: #55A14A;
    color: var(--offwhite);
    border: 2px solid #55A14A;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.top-login-header-container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr)repeat(6, minmax(0, 175px))minmax(0px, 1fr) minmax(0px, 0.5fr);
    grid-column: 1 / 9;
    height: 32px;
}

.top-login-header {
    grid-column: 1 / 9;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
    gap: 25px;
}

.top-login-header-button {
    display: inline-block;
    color: black;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 14px;
    border: none;
    text-decoration: none;
}

.top-login-header-button:hover {
    color: var(--button-color);
}

.top-login-header-button>img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.profile-image {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid black;
}

.header-background {
    background-color: var(--header-color);
    grid-column: 1 / 9;
    height: 70px;
    position: absolute;
    top: 32px;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.15);
}

.top-nav-bar {
    grid-column: 2 / 8;
    background-color: var(--header-color);
    height: 70px;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* display: flex; */
    /* justify-content: space-between; */
    /*position: sticky;*/
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 10px;
    color: black;
}

.nav-links ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 35px;
    align-items: center;
    height: 100%;
}

.nav-links ul li {
    list-style: none;
    text-align: center;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.nav-links ul li:hover {
    color: var(--button-color);
}

.top-nav-bar>.logo-brand-container {
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    max-width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.top-nav-bar>.nav-links {
    grid-column: 2 / 3;
}

.top-nav-bar>.nav-bar-button-container {
    grid-column: 3 / 4;
    max-width: 175px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* a common green button */
.top-nav-bar>.nav-bar-button-container a {
    width: 160px;
    height: 40px;
    font-size: 18px;
}

.nav-bar-button-container a {
    text-decoration: none;
    color: inherit;
}

.nav-bar-button {
    width: 160px;
    height: 40px;
    font-size: 18px;
}

.nav-bar-button:hover {
    background-color: #55A14A;
}

footer {
    display: grid;
    grid-template-columns: minmax(0px, 0.5fr) 1fr 0.75fr 1.25fr minmax(0px, 0.5fr);
    border-top: 15px solid var(--footer-color);
    grid-column: 1/9;
    grid-row: 5/6;
    background-color: #1a1a1a;
    color: var(--footer-color);
    padding-top: 20px;
}

.footer-info-container {
    grid-column: 2/3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    /* box-shadow: 0px 2px 5px 3px var(--footer-color); */
    margin: auto;
    width: 460px;
    padding: 20px;
}

.footer-title {
    font-size: 28px;
    font-weight: bold;
}

.footer-text {
    margin-left: 20px;
    margin-bottom: 10px;
}

.footer-text::marker {
    font-size: 20px;
    color: var(--footer-color);
}

.footer-text a {
    font-size: 20px;
    color: #f4ecff;
    text-decoration: none;
}

.footer-text a:hover {
    font-size: 20px;
    color: var(--footer-color);
}

.footer-text a:hover::after {
    font-size: 20px;
    margin-right: 5px;
    content: '\a0\25B8';
}

.current-page-footer {
    color: var(--footer-color) !important;
}

.newsletter-container {
    grid-column: 4/5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid var(--footer-color); */
    border-radius: 5px;
    margin: 40px auto;
    box-shadow: 0px 2px 5px 3px var(--footer-color);
}

#mc_embed_signup {
    font: 14px Helvetica, Arial, sans-serif;
}

.copyright-container {
    grid-column: 2/5;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.disabled-button {
    cursor: not-allowed !important;
    background-color: gray !important;
}

@media only screen and (max-width: 1100px) {
    #app {
        grid-template-columns:minmax(0px, 1fr)repeat(6,minmax(0,150px))minmax(0px,1fr);
        background-color: green;
    }

    .top-login-header-button {
        margin-right: 20px;
    }
}