<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub - Organizations</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="organizations.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="top-login-header-container">
            <div class="top-login-header" v-if="loggedInStatus && !gettingStatus">
                <div class="top-login-header-button" @click="logout()"><img src="./icons/logout.svg"
                        alt="log-in-icon" />Logout</div>
                <div class="top-login-header-button" @click="checkLoginAndGoToEditProfile()">
                    <img class="profile-image" :src="[userProfileImage || './images/default-user.png']" alt="" />
                    Edit Profile
                </div>
            </div>
            <div class="top-login-header" v-else-if="!gettingStatus">
                <a class="top-login-header-button" href="signup.html"><img src="./icons/key.svg"
                        alt="sign-up-icon" />Sign
                    Up</a>
                <a class="top-login-header-button" href="login.html"><img src="./icons/user.svg"
                        alt="log-in-icon" />Login</a>
            </div>
        </div>
        <div style="display: none;">{{ page = 'organizations'}}</div>
        <!-- Content goes here -->
        <div class="header-background">
        </div>
        <header class="top-nav-bar">
            <a class="logo-brand-container" href="index.html">
                <h2>AidHub</h2>
            </a>
            <nav class="nav-links">
                <ul>
                    <li><a class="nav-link" href="index.html">HOME</a></li>
                    <li><a class="nav-link" href="organizations.html">ORGANIZATIONS</a></li>
                    <li><a class="nav-link" href="volunteer.html">VOLUNTEERING</a></li>
                </ul>
            </nav>
            <div class="nav-bar-button-container">
                <a href="getstarted.html">
                    <button class="common-green-button nav-bar-button">GET STARTED</button>
                </a>
            </div>
        </header>
        <main>
            <h1 id="org-page-title">Find Organizations</h1>
            <form @submit.prevent="submitSearchForOrganizations" class="org-search-area">
                <div class="org-search-container">
                    <input type="text" placeholder="Search..." v-model="search" id="org-search" autocomplete="off">
                    <button type="submit" id="org-search-btn">
                        <!-- search icon -->
                        <img src="./icons/searchIcon.svg" alt=""></img>
                    </button>
                    <button type="button" @click="toggleOrganizationsSearchFilter()" id="org-search-filter-btn">
                        <img v-if="organizationsSearchFilterShow" src="./icons/filterIconUp.svg" alt=""></img>
                        <img v-else src="./icons/filterIconDown.svg" alt=""></img>
                    </button>

                    <div class="org-filter-container" v-show="organizationsSearchFilterShow">
                        <div class="org-search-filter-container">
                            <label for="org-search-filter-state" class="org-search-filter-text">Filter By State:</label>
                            <div class="org-search-filter-input-container">
                                <input type="text" placeholder="State.." class="org-search-filter-input"
                                    id="org-search-filter-state" @focus="showStateDropdown = true"
                                    @blur="showStateDropdown = false" v-model="state">
                                <div class="org-search-filter-autocomplete-container"
                                    v-show="filteredStates.length > 0 && showStateDropdown">
                                    <div v-for="state in filteredStates" @mousedown="selectState(state)"
                                        class="org-search-filter-autocomplete-item">
                                        {{ state.name }}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="org-search-filter-container">
                            <label for="org-search-filter-category" class="org-search-filter-text">Filter By
                                Category:</label>
                            <div class="org-search-filter-input-container">
                                <input type="text" placeholder="Category.." class="org-search-filter-input"
                                    id="org-search-filter-category" autocomplete="off"
                                    v-model="organizationsSearchFilterCategory.category"
                                    @focus="organizationsShowCategoryDropdown = true"
                                    @blur="organizationsShowCategoryDropdown = false">
                                <div class="org-search-filter-autocomplete-container"
                                    v-show="organizationsFilteredCategories.length > 0 && organizationsShowCategoryDropdown">
                                    <div v-for="entry in organizationsFilteredCategories"
                                        @mousedown="organizationsFilterSelectCategory(entry)"
                                        class="org-search-filter-autocomplete-item">
                                        {{ entry.category }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="organizations">
                <div class="org-row-head">
                    <div>NAME
                        <span v-on:click="sortNames()" v-if="sortOrder == 'asc'">&and;</span>
                        <span v-on:click="sortNames()" v-else>&or;</span>
                    </div>
                    <div>CATEGORIES</div>
                    <div>CITY
                        <span v-on:click="sortCities()" v-if="sortOrderCities == 'asc'">&and;</span>
                        <span v-on:click="sortCities()" v-else>&or;</span>
                    </div>
                    <div>STATE</div>
                    <div>DESCRIPTION</div>
                </div>
                <div v-for="(org,index) in organizations" class="org-row-body">
                    <div>{{org.orgname}}</div>
                    <div>{{org.category}}</div>
                    <div>{{org.city}}</div>
                    <div>{{org.state}}</div>
                    <div>{{org.description}}</div>
                </div>
                <div class="org-results" v-if="organizations.length == 0 && !organizationsPage.spinner">
                    <h2>No Results Found</h2>
                </div>
                <div class="spinner-container org-spinner-container" v-if="organizationsPage.spinner">
                    <img class="spinner" src="./icons/spinner.svg" alt="" v-if="organizationsPage.spinner">
                </div>
            </div>
            <!-- Page navigation starting at 0 and going to 10 -->
            <div class="org-page-navigation-container" v-if="organizations.length != 0">
                <div class="org-page-navigation">
                    <button class="org-page-navigation-button" v-on:click="orgPageNavigationPrevious()"
                        :class="{ 'disabled-button' : organizationsPage.current <= 0 }">&larr;
                        Previous</button>
                    <p>Page: {{ organizationsPage.current + 1 }} of {{ organizationsPage.total}}</p>
                    <button class="org-page-navigation-button" v-on:click="orgPageNavigationNext()"
                        :class="{ 'disabled-button' : organizationsPage.current >= organizationsPage.total - 1 }">Next
                        &rarr;</button>
                </div>
                <span><em>{{ organizationsPage.results }}</em> Results</span>
            </div>
        </main>
        <footer class="org-footer">
            <h2>AidHub</h2>
            <p>Sign up for our newsletter here!</p>
        </footer>
    </div>
    <script src="app.js"></script>
</body>

</html>