<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="login_signup.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <!-- vue stuff -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div style="display: none;">{{ page = 'signup' }}</div>
        <main>
            <div>
                <h1>AidHub</h1>
                <div class="login-container">
                    <form @submit.prevent="signUp">
                        <h1>Sign Up</h1>
                        <label>
                            <span class="login-input-text">Username:</span><br />
                            <input type="text" class="login-input" placeholder="example" v-model="user.name"
                                minlength="4" required>
                        </label>
                        <label>
                            <span class="login-input-text">Email:</span><br />
                            <input type="email" class="login-input" placeholder="example@gmail.com" v-model="user.email"
                                required>
                        </label>
                        <br />
                        <label>
                            <span class="login-input-text">Password:</span>
                            <br />
                            <input type="password" class="login-input" placeholder="Password" v-model="user.password"
                                required minlength="8">
                        </label>
                        <button type="submit" class="login-submit-button">Create Account</button>
                        <p class="login-sign-up-text">Already have an account? &nbsp;<a href="login.html">Log
                                In</a></p>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="app.js"></script>
</body>

</html>