* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

:root {
    --darkgreen: #606634;
    --limegreen: #BBC340;
    --offwhite: #F7F7F7;
    --lightblue: #98D7FF;
    --darkblue: #62B4E7;
    --lightbrown: #876453;
    --button-color: #58A74C;
    --search-button-color: #4c9aa7;
    --org-table-color: #606634;
    --header-color: #fcfcfc;
}

#app {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr)repeat(6, minmax(0, 175px))minmax(0px, 1fr);
}

main,
.main-section-container {
    grid-column: 2/8;
    background-color: var(--offwhite);
}

img {
    object-fit: cover;
}

.common-green-button {
    background-color: var(--button-color);
    color: var(--offwhite);
    border: 2px solid var(--button-color);
    border-style: outset;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.common-green-button:hover {
    background-color: inherit;
    color: var(--lightbrown);
    border: 2px solid var(--lightbrown);
}

.header-background {
    background-color: var(--header-color);
    grid-column: 1 / 9;
    height: 70px;
    position: absolute;
    top: 0px;
    width: 100%;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.5);
}

.top-nav-bar {
    grid-column: 2 / 8;
    background-color: var(--header-color);
    height: 70px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    /*position: sticky;*/
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0px 10px;
    color: black;
}

.nav-links ul {
    grid-column: 3 / 7;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.nav-links ul li {
    list-style: none;
    text-align: center;
}

.nav-links ul li a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.top-nav-bar>.logo-brand-container {
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    max-width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top-nav-bar>.nav-links {
    grid-column: 7 / 8;
}

.top-nav-bar>.nav-bar-button-container {
    max-width: 175px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* a common green button */
.top-nav-bar>.nav-bar-button-container a {
    width: 160px;
    height: 40px;
    font-size: 18px;
}

.nav-bar-button-container a {
    text-decoration: none;
    color: inherit;
}

.nav-bar-button {
    width: 160px;
    height: 40px;
    font-size: 18px;
}

.nav-bar-button:hover {
    background-color: var(--offwhite);
}


/* Slideshow container */
.slideshow {
    grid-column: 1/9;
    overflow: hidden;
}

.slideshow-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    transform: translateX(0%);
    transition: all 0.5s;
}

.slideshow-image {
    object-fit: cover;
    width: 100vw;
    height: 75vh;
    background-size: cover;
    background-position: center;
    object-position: 50% 0%;
    position: relative;
}

/* Next & previous buttons */
.slide-show-prev-btn,
.slide-show-next-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.slide-show-next-btn {
    right: 0;
    border-radius: 3px 0 0 3px;
    left: auto;
}

/* On hover, add a black background color with see-through */
.slide-show-prev-btn:hover,
.slide-show-next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-image-caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slideshow-dots-container {
    text-align: center;
    margin: auto;
    grid-column: 4 / 6;
}

/* The dots/bullets/indicators */
.slideshow-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.4s ease;
    display: inline-block;
}

.slide-show-dot-active,
.slideshow-dot:hover {
    background-color: #717171;
}

.future-stuff {
    grid-column: 2/8;
    grid-row: 4/5;
    height: auto;
    color: white;
}

#map {
    width: 100%;
    height: 500px;
    z-index: 0;
}

.index-main-image-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.index-main-image-row {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.index-main-image {
    width: 500px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 5px;
    height: 500px;
}

.index-main-image-text {
    width: 500px;
    font-size: 20px;
    margin-top: 10px;
}

.index-main-image-text>h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.index-main-image-text>p {
    font-weight: normal;
    font-size: 20px;
}

footer {
    grid-column: 1/9;
    grid-row: 5/6;
    background-color: var(--darkgreen);
    height: 80px;
    text-align: center;
    color: white;
    padding-top: 20px;
}

/*                              get started page                               */
.get-started-image {
    background-image: url("volunteering1.jpg");
    background-size: cover;
    background-position: 50% 30%;
    position: relative;
    grid-column: 1/9;
    height: 550px;
}


#volunteering-image {
    background-image: url("volunteering2.jpg");
    background-size: cover;
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}

/* common green button */
.volunteer-button {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 8px 8px;
}

#donation-image {
    background-image: url("volunteering3.jpg");
    background-size: cover;
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}

/* common green button */
.donation-button {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 8px 8px;
    margin-bottom: 10px;
}

.volunteer-donate-form {
    width: 100%;
    height: 900px;
}

/*                         organizations page                       */
#org-page-title {
    display: inline-flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;
    vertical-align: top;
}

.search-area {
    float: right;
    padding: 5px;
    border: none;
    padding: 20px 0px 10px 0px;
    width: 400px;
}

.org-search-container {
    width: 100%;
    position: relative;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--search-button-color);
    border-style: outset;
    padding-left: 0px;
}

#org-search {
    height: 29px;
    font-size: 18px;
    padding: 15px 0px 15px 10px;
    margin-right: 100px;
    border: none;
}

#org-search:focus {
    outline: none;
    color: var(--search-button-color);
}

#org-search-btn {
    position: absolute;
    padding: 5px 10px;
    background-color: var(--search-button-color);
    border: none;
    cursor: pointer;
    top: 0px;
    right: 42px;
    border-right: 1px solid black;
}

#org-search-filter-btn {
    position: absolute;
    padding: 5px 10px;
    background-color: var(--search-button-color);
    border: none;
    cursor: pointer;
    top: 0px;
    right: -2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.org-filter-container {
    font-size: 15px;
    color: gray;
    padding: 0px 10px 10px 10px;
    border-top: 1px solid var(--search-button-color);
    margin-top: 6px;
}

.org-search-filter-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.org-search-filter-input-container {
    position: relative;
}

.org-search-filter-input {
    outline: none;
}

.org-search-filter-input:focus {
    outline: none;
    color: var(--search-button-color);
}

.org-search-filter-autocomplete-container {
    position: absolute;
    z-index: 1;
    max-height: 150px;
    overflow-y: scroll;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    cursor: pointer;
}

.org-search-filter-autocomplete-item {
    border-bottom: 1px solid lightgray;
}

.organizations {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.organizations span {
    cursor: pointer;
}

.org-row-body:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.15);
}

.org-row-head,
.org-row-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 2fr;
    align-items: center;
    padding: 12px 14px;
    width: 100%;
}

.org-row-head {
    background-color: var(--org-table-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.org-row-body {
    border-right: 2px solid var(--org-table-color);
    border-left: 2px solid var(--org-table-color);
    border-bottom: 1px solid var(--org-table-color);
}

.org-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
    color: gray;
}

.org-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.org-spinner {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.org-page-navigation-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--org-table-color);
    border-top: 1px solid var(--org-table-color);
    margin-bottom: 20px;
    padding: 10px 0px;
    padding-top: 20px;
    gap: 10px;
    font-size: 20px;
}

.org-page-navigation-container span {
    width: 100%;
    text-align: center;
}

.org-page-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.org-page-navigation-button {
    background-color: var(--org-table-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 20px;
}

.disabled-button {
    cursor: not-allowed;
    background-color: gray;
}