<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub - Volunteer Opportunities</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="volunteer.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- Content goes here -->
        <div style="display: none">{{page = 'volunteer'}}</div>
        <div class="top-login-header-container">
            <div class="top-login-header" v-if="loggedInStatus">
                <div class="top-login-header-button" @click="logout()"><img src="./icons/logout.svg"
                        alt="log-in-icon" />Logout</div>
                <div class="top-login-header-button" @click=""><img src="./icons/profile.svg" alt="log-in-icon" />Edit
                    Profile</div>
            </div>
            <div class="top-login-header" v-else>
                <a class="top-login-header-button" href="signup.html"><img src="./icons/key.svg"
                        alt="sign-up-icon" />Sign
                    Up</a>
                <a class="top-login-header-button" href="login.html"><img src="./icons/user.svg"
                        alt="log-in-icon" />Login</a>
            </div>
        </div>
        <div class="header-background">
        </div>
        <header class="top-nav-bar">
            <a class="logo-brand-container" href="index.html">
                <h2>AidHub</h2>
            </a>
            <nav class="nav-links">
                <ul>
                    <li><a class="nav-link" href="index.html">HOME</a></li>
                    <li><a class="nav-link" href="organizations.html">ORGANIZATIONS</a></li>
                    <li><a class="nav-link" href="volunteer.html">VOLUNTEERING</a></li>
                </ul>
            </nav>
            <div class="nav-bar-button-container">
                <a href="getstarted.html">
                    <button class="common-green-button nav-bar-button">GET STARTED</button>
                </a>
            </div>
        </header>
        <main>
            <div id="main-header">
                <h1>Volunteer Opportunities</h1>
                <button id="volunteerformbutton" @click="goToVolunteerForm()">Add Volunteer Opportunity</button>
            </div>
            <div id="search-area">
                <!--search box-->
                <div class="search-box">
                    <form action="" onsubmit="return false">
                        <input type="text" id="search" placeholder="Search...">
                    </form>
                </div>
                <div class="filler-box">
                    <a href="#" class="activebutton">Newest</a>
                    <a href="#" class="activebutton">Oldest</a>
                    <a href="#" class="activebutton">Most People Needed</a>
                    <a href="#" class="activebutton">Least People Needed</a>
                    <a href="#" class="activebutton">Most Likes</a>
                    <a href="#" class="activebutton">Least Likes</a>
                </div>
            </div>
            <div id="filtering-area"></div>
            <div class="post-container">
                <div 
                    id="volunteerthings"
                    v-for="(post,index) in volunteerOpportunities"
                    :class="index % 2 === 0 ? 'post even' : 'post odd'"
                >
                    <div id="volunteerpost">
                        <div id="post-user">
                            <p>Created By: </p>
                            <div>{{post.user}}</div>
                            <div id="profile">Profile</div>
                        </div>
                        <div id="post-title">
                            {{post.title}}
                        </div>
                        <div id="post-orgname">
                            <p>Organization: </p>
                            <div>{{post.orgname}}</div>
                        </div>
                        <div id="post-city" v-if="post.city">
                            <p id="city-p">City: </p>
                            <div>{{post.city}}</div>
                        </div>
                        <div id="post-state">
                            <p>State: </p>
                            <div>{{post.state}}</div>
                        </div>
                        <div id="post-dateStart">
                            <p>Start Date: </p>
                            <div>{{post.formattedStartDate}}</div>
                        </div>
                        <div id="post-dateEnd" v-if="post.formattedEndDate">
                            <p id="enddate-p">End Date: </p>
                            <div>{{post.formattedEndDate ? post.formattedEndDate : "No End Date"}}</div>
                        </div>
                        <div id="post-description" v-if="post.description">
                            <p>Description: </p>
                            <div>{{post.description}}</div>
                        </div>
                        <div id="post-num_people">
                            <p>Number Of People Needed: </p>
                            <div>{{post.num_people}}</div>
                        </div>
                        <div id="post-website" v-if="post.website">
                            <p>Website: </p>
                            <div>{{post.website}}</div>
                        </div>
                        <div class="post-button-container">
                            <div id="likes">
                                <p><span id="display">{{post.numLikes}}</span> Likes</p>
                                <div id="like-button" @click="likePost(index)"></div>
                            </div>
                            <div class="post-modification" v-if="loggedInStatus && post.user == user.name">
                                <img 
                                    src="./icons/edit.svg" 
                                    alt="edit-icon" 
                                    @click="updatePost(post.id)"
                                    id="post-edit-button"
                                >
                                <img 
                                    src="./icons/delete.svg" 
                                    alt="delete-icon" 
                                    @click="deletePost(post.id)"
                                    id="post-delete-button"
                                >
                            </div>
                            <button id="apply-button" v-else-if="loggedInStatus">Apply</button>
                            <a href="login.html" id="login-button" v-if="!loggedInStatus">Log In To Interact</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="app.js"></script>
</body>

</html>