<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub - Organizations</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="volunteer.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- Content goes here -->
        <div class="top-login-header-container">
            <div class="top-login-header">
                <a class="top-login-header-button" href="signup.html"><img src="./icons/key.svg"
                        alt="sign-up-icon" />Sign
                    Up</a>
                <a class="top-login-header-button" href="login.html"><img src="./icons/user.svg"
                        alt="log-in-icon" />Login</a>
            </div>
        </div>
        <div class="header-background">
        </div>
        {{page = 'volunteerForm'}}
        <header class="top-nav-bar">
            <div class="logo-brand-container">
                <h2>AidHubs</h2>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a class="nav-link" href="index.html">HOME</a></li>
                    <li><a class="nav-link" href="organizations.html">ORGANIZATIONS</a></li>
                    <li><a class="nav-link" href="volunteer.html">VOLUNTEERING</a></li>
                </ul>
            </nav>
            <div class="nav-bar-button-container">
                <a href="getstarted.html">
                    <button class="common-green-button nav-bar-button">GET STARTED</button>
                </a>
            </div>
        </header>
        <main>
            <button @click="toggleVolunteerPostModal(index)" id="volunteerformbutton">Create Volunteer
                Opportunity</button>
            <div class="volunteerPostModal" v-show="toggleModal">
                <div class="content">
                    <div id="close" @click="toggleVolunteerPostModal()">X</div>
                    <form id="volunteer-form">
                        <span>
                            <label for="user">User: </label>
                            <input type="text" id="user" name="user" required v-model="newVolunteerPost.user">
                        </span>
                        <span>
                            <label for="title">Title: </label>
                            <input type="text" id="title" name="title" required v-model="newVolunteerPost.title">
                        </span>
                        <span>
                            <label for="orgname">Organization Name (if personal, select "personal"): </label>
                            <label>
                                <input type="radio" v-model="newVolunteerPost.orgname" value="personal" checked>
                                Personal
                            </label>
                            <!-- for some reason the webpage doesn't like another input here,
                            even with the same v-model or id or both? -->
                            <label>
                                <input type="radio" v-model="newVolunteerPost.orgname" value="organization">
                                Organization
                            </label>
                            <div v-show="newVolunteerPost.orgname === 'organization'">
                                <!-- https://koenwoortman.com/vuejs-get-element-by-id-in-component/ -->
                                <input type="text" v-model="volunteerorgsearch">
                                <datalist id="orgNameList">
                                    <ul>
                                        <li v-for="organization in filteredTrialOrganizations">{{organization}}</li>
                                    </ul>
                                </datalist>
                            </div>
                        </span>
                        <span>
                            <label for="city">City it is taking place in: </label>
                            <input type="text" id="city" name="city" v-model="newVolunteerPost.city">
                        </span>
                        <span>
                            <label for="state">State it is taking place in (limit 2 characters): </label>
                            <input type="text" id="state" name="state" maxlength="2" minlength="2" required
                                v-model="newVolunteerPost.state">
                        </span>
                        <span>
                            <label for="dateStart">Start Date: </label>
                            <input type="date" id="dateStart" name="dateStart" min="2023-07-14" required
                                v-model="newVolunteerPost.dateStart">
                        </span>
                        <span>
                            <label for="dateEnd">End Date: </label>
                            <input type="date" id="dateEnd" name="dateEnd" min="2023-07-17"
                                v-model="newVolunteerPost.dateEnd">
                        </span>
                        <span>
                            <div id="desc-area">
                                <label for="description">Description: </label>
                                <textarea name="description" id="description" cols="30" rows="10"
                                    v-model="newVolunteerPost.description"></textarea>
                            </div>
                        </span>
                        <span>
                            <label for="num_people">Amount of Volunteers Needed: </label>
                            <input type="number" id="num_people" name="num_people" min="1" required
                                v-model="newVolunteerPost.num_people">
                        </span>
                        <span>
                            <label for="website">Website: </label>
                            <input type="text" id="website" name="website" v-model="newVolunteerPost.website">
                        </span>
                    </form>
                    <button @click="addVolunteerOpportunities()" id="post">Post</button>
                </div>
            </div>
            <h1 id="find">Find volunteer opportunities here:</h1>
            <div class="volunteerthings" v-for="(post, index) in volunteerOpportunities">
                <div>{{post}}</div>
            </div>
    </div>
    <script src="script.js"></script>
</body>

</html>