<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub - Organizations</title>
    <link href="anotherstyle.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- Content goes here -->
        <div class="header-background">
        </div>
        <header class="top-nav-bar">
            <div class="logo-brand-container">
                <h2>AidHub</h2>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a class="nav-link" href="index.html">HOME</a></li>
                    <li><a class="nav-link" href="organizations.html">ORGANIZATIONS</a></li>
                </ul>
            </nav>
            <div class="nav-bar-button-container">
                <a href="getstarted.html">
                    <button class="common-green-button nav-bar-button">GET STARTED</button>
                </a>
            </div>
        </header>
        <main>
            <button @click="toggleVolunteerPostModal(index)">Create Volunteer Opportunity</button>
            <div class="volunteerPostModal" v-show="toggleModal">
                <div class="content">
                    <div id="close" @click="toggleVolunteerPostModal()">X</div>
                    <form id="volunteer-form">
                        <span>
                            <label for="user">User:</label>
                            <input 
                                type="text" 
                                id="user" 
                                name="user" 
                                required
                                v-model="volunteerPostModal.user"
                            >
                        </span>
                        <span>
                            <label for="title">Title:</label>
                            <input 
                                type="text" 
                                id="title" 
                                name="title" 
                                required
                                v-model="volunteerPostModal.title"
                            >
                        </span>
                        <span>
                            <label for="orgname">Organization Name:</label>
                            <input 
                                type="text" 
                                id="orgname" 
                                name="orgname" 
                                required
                                v-model="volunteerPostModal.orgname"
                            >
                        </span>
                        <span>
                            <label for="city">City it is taking place in:</label>
                            <input 
                                type="text" 
                                id="city" 
                                name="city"
                                v-model="volunteerPostModal.city"
                            >
                        </span>
                        <span>
                            <label for="state">State it is taking place in (limit 2 characters):</label>
                            <input 
                                type="text" 
                                id="state" 
                                name="state" 
                                maxlength="2" minlength="2" 
                                required
                                v-model="volunteerPostModal.state"
                            >
                        </span>
                        <span>
                            <label for="dateStart">Start Date:</label>
                            <input 
                                type="date" 
                                id="dateStart" 
                                name="dateStart"  
                                min="2023-07-14" 
                                required
                                v-model="volunteerPostModal.dateStart"
                            >
                        </span>
                        <span>
                            <label for="dateEnd">End Date:</label>
                            <input 
                                type="date" 
                                id="dateEnd" 
                                name="dateEnd" 
                                min="2023-07-17"
                                v-model="volunteerPostModal.dateEnd"
                            >
                        </span>
                        <span>
                            <label for="description">Description:</label>
                            <textarea 
                                name="description" 
                                id="description" 
                                cols="30" rows="10"
                                v-model="volunteerPostModal.description"
                            ></textarea>
                        </span>
                        <span>
                            <label for="num_people">Amount of Volunteers Needed:</label>
                            <input 
                                type="number" 
                                id="num_people"
                                name="num_people"
                                min="1" 
                                required
                                v-model="volunteerPostModal.num_people"
                            >
                        </span>
                        <span>
                            <label for="website">Website:</label>
                            <input
                                type="text" 
                                id="website" 
                                name="website"
                                v-model="volunteerPostModal.website"
                            >
                        </span>
                    </form>
                    <button @click="addVolunteerOpportunities()">Post</button>
                </div>
            </div>
            <h1 id="find">Find volunteer opportunities here:</h1>
            <div 
                class="volunteerthings"
                v-for="(post, index) in volunteerOpportunities"
            >
                <div>{{post}}</div>
            </div>
    </div>
    <script src="script.js"></script>
</body>

</html>