:root {
    --darkgreen: #606634;
    --limegreen: #BBC340;
    --offwhite: #F7F7F7;
    --lightblue: #98D7FF;
    --darkblue: #62B4E7;
    /* --footer-color: #4c9aa7; */
    --footer-color: #24a0ed;
    --lightbrown: #876453;
    --button-color: #58A74C;
    --search-button-color: #4c9aa7;
    --org-table-color: #606634;
    --header-color: #fcfcfc;
    --index-location-button: #24a0ed;
    --index-location-button-hover: rgb(36, 160, 237, 0.5);
}
/* volunteer opportunities header & add volunteer opportunity button */
#main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 15px;
}

#volunteerformbutton {
    height: 27px;
    width: 180px;
    background-color: #61C2F2;
    border: 2px solid #5EBCEB;
    border-style: outset;
    border-radius: 5px;
    cursor: pointer;
}

#volunteerformbutton:hover {
    background-color: #5EBCEB;
    border: none;
}

/* post container */
.post-container .post.even {
    background-color: #a2ce5b;
    border-radius: 9px;
}

.post-container .post.odd {
    background-color: #78a036;
    border: none;
    color: white;
    border-radius: 9px;
}

/* volunteer posting area */
#volunteerthings {
    margin: 20px;
}

#volunteerpost div p {
    margin-top: 5px;
}

#volunteerpost div {
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
}

#volunteerpost div div {
    width: max-content;
    padding: 1px 10px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 6px;
    color: black;
}

/* spacing on post */
#city-p {
    margin-right: 7px;
}

#enddate-p {
    margin-right: 8px;
}

#post-user {
    font-size: 15px;
}

/* profile button */
#post-user #profile {
    cursor: pointer;
    background-color: #61C2F2;
    border: 2px solid #5EBCEB;
    border-style: outset;
    border-radius: 5px;
    height: 23px;
    width: 63px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-user #profile:hover {
    background-color: #5EBCEB;
    border: none;
    height: 23px;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* post title */
#post-title {
    font-size: 55px;
}

.post-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 10px;
}

.post-button-container #like-button {
    background-image: url("icons/like.svg");
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

.post-likes-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login-button {
    cursor: pointer;
    background-color: #61C2F2;
    border: 2px solid #5EBCEB;
    border-style: outset;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 32px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#login-button:hover {
    background-color: #5EBCEB;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 32px;
}

.search-box input {
    height: 25px;
    font-size: 17px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.filer-box .btn {
    cursor: pointer;
    margin-right: 17px;
    background-color: #61C2F2;
    border: 2px solid #5EBCEB;
    border-style: outset;
    border-radius: 5px;
    padding: 4px 8px;
    text-decoration: none;
    color: black;

}

.filer-box .btn:hover {
    background-color: #5EBCEB;
    border: 2px solid #5EBCEB;

}


/* 

.post-likes-container p {
    display: inline-block;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    border: 3px solid #5e48ee;
    padding: 5px 10px;
    border-radius: 5px;
}

.post-like-button {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border-style: outset;
    font-size: 18px;
    border-radius: 5px;
    color: #1e7ed1;
    border: outset;
}

.post-like-button:active {
    border-style: inset;
}

.post-like-button:hover {
    color: #3f90d7;
}

.post-modification-button-container {
    height: 100%;
}

.post-edit-button {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    border-style: outset;
    font-size: 18px;
    border-radius: 5px;
    color: rgb(56, 212, 32);
}

.post-edit-button:active {
    border-style: inset;
}

.post-edit-button:hover {
    color: rgb(56, 212, 32);
}

.post-delete-button {
    display: inline-block;
    border-style: outset;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(235, 32, 32);
}

.post-delete-button:active {
    border-style: inset;
}

.post-delete-button:hover {
    color: rgb(235, 32, 32);
}

.post-apply-button {
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    background-color: white;
    height: fit-content;
    border: 3px solid #0088ff;
    border-style: outset;
    border-radius: 5px;
}

.post-apply-button:active {
    border-style: inset;
}

.login-text {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.login-text:hover {
    color: #3f90d7;
} */



