:root {
    --darkgreen: #606634;
    --limegreen: #BBC340;
    --offwhite: #F7F7F7;
    --lightblue: #98D7FF;
    --darkblue: #62B4E7;
    --footer-color: #24a0ed;
    --lightbrown: #876453;
    --button-color: #58A74C;
    --search-button-color: #58B0BF;
    --org-table-color: #58B0BF;
    --header-color: #fcfcfc;
    --index-location-button: #24a0ed;
    --index-location-button-hover: rgb(36, 160, 237, 0.5);
    --volunteer-button-color: #24a0ed;
    --volunteer-button-hover: #229BE6;
}

#app button {
    background-color: var(--volunteer-button-color);
    border: 2px solid var(--volunteer-button-hover);
    border-style: outset;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#app button:hover {
    background-color: var(--volunteer-button-hover);
    border: 2px solid var(--volunteer-button-hover);
}

#main-header {
    margin-top: 10px;
}
/* volunteer opportunities header & add volunteer opportunity button */
#header-and-addbutton {
    display: flex;
    justify-content: space-between;
    margin: 0px 2%;
}

.btn {
    font-size: 17px;
}

.btn.all {
    margin-right: 5px;
    width: 45px;
    height: 28px;
}

.btn.oldest {
    width: 116px;
    height: 28px;
}
.search-area {
    margin: 0px 2%;
}

.search-area form input {
    border-radius: 5px;
    height: 25px;
    font-size: 18px;
    width: 165px;
}

.search-area #search-buttons {
    margin-top: 6px;
}

.search-area button {
    background-color: #61C2F2;

}

#volunteerformbutton {
    height: 27px;
    width: 180px;
    background-color: #61C2F2;
    border: 2px solid #5EBCEB;
    border-style: outset;
    border-radius: 5px;
    cursor: pointer;
}

#volunteerformbutton:hover {
    background-color: #5EBCEB;
    border: none;
}

/* post container */

.post-container .post {
    border-radius: 9px;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.35);
}
.post-container .post.even {
    background-color: var(--post-even);
}

.post-container .post.odd {
    background-color: var(--post-odd);
    color: #F8F8FF;
}

.odd #login-button {
    cursor: pointer;
    background-color: var(--post-even);
    border: 2px solid #A8D4ED;
    border-style: outset;
    padding: 3px 8px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    width: 142px;
    height: 32px;
}

.odd #login-button:hover {
    background-color: #A8D4ED;
    border-style: none;
    width: 142px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.even #login-button {
    cursor: pointer;
    background-color: var(--post-odd);
    border: 2px solid #447EAD;
    border-style: outset;
    padding: 3px 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #F8F8FF;
    margin-bottom: 5px;
    width: 142px;
    height: 32px;
}

.even #login-button:hover {
    background-color: #447EAD;
    border-style: none;
    width: 142px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modification {
    width: 113px;
    margin-bottom: 4px;
}

.post-modification img {
    cursor: pointer;
    width: 50px;
    padding: 10px;
}

.odd .post-modification img:hover {
    background-color: var(--post-even);
    border-radius: 5px;
}

.even .post-modification img:hover {
    background-color: var(--post-odd);
    border-radius: 5px;
}


/* volunteer posting area */
#volunteerthings {
    margin: 20px;
}

#volunteerpost div p {
    margin-top: 5px;
}

#volunteerpost div {
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
}

#volunteerpost div div {
    width: max-content;
    padding: 1px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    color: black;
}

/* spacing on post */
#city-p {
    margin-right: 7px;
}

#enddate-p {
    margin-right: 8px;
}

#post-user {
    font-size: 15px;
}

.profile-photo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-photo-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

/* profile button */
#post-user #profile {
    cursor: pointer;
    background-color: #61C2F2;
    border: 2px solid #5EBCEB;
    border-style: outset;
    border-radius: 5px;
    height: 23px;
    width: 63px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-user #profile:hover {
    background-color: #5EBCEB;
    border: none;
    height: 23px;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* post title */
#post-title {
    font-size: 55px;
}

.post-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 10px;
}

#apply-button {
    width: 200px;
    height: 200px;
}

/* .post-button-container #like-button {
    background-image: url("icons/like.svg");
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
} */

.post-likes-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login-button.odd {
    background-color: var(--post-even);
}

.search-box input {
    height: 25px;
    font-size: 17px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.filer-box .btn {
    cursor: pointer;
    margin-right: 17px;
    background-color: #61C2F2;
    border: 2px solid #5EBCEB;
    border-style: outset;
    border-radius: 5px;
    padding: 4px 8px;
    text-decoration: none;
    color: black;

}

.filer-box .btn:hover {
    background-color: #5EBCEB;
    border: 2px solid #5EBCEB;

}

/* Edit Post Modal */
.volunteer-form-container {
    position: absolute;
    z-index: 8;
    top: 110px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.submit-volunteer-form-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--index-location-button);
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
    margin-top: 10px;
    color: white;
}

.submit-volunteer-form-button:hover {
    background-color: rgba(36, 160, 237, 0.9);
}

#volunteer-form {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.back-button {
    cursor: pointer;
    font-size: 16px;
    color: var(--index-location-button);
    text-decoration: none;
    text-align: left;
    margin-bottom: 10px;
}

.back-button:hover {
    text-decoration: underline;
}

.volunteer-form-input {
    margin: 8px 0;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.volunteer-form-input:focus {
    outline: none;
    border: 1px solid #55A14A;
}

#volunteer-form span {
    display: flex;
    flex-flow: column nowrap;
}

#desc-area {
    display: flex;
    flex-flow: column nowrap;
}

#description {
    resize: none;
}

#organization {
    width: 100%;
}

#state {
    width: 100%;
}

.organization-container {
    position: relative;
    width: 100%;
}

.state-container {
    position: relative;
    width: 150px;
}

.state-select-container,
.organization-select-container {
    width: 100%;
    position: absolute;
    z-index: 2;
    overflow-y: auto;
    max-height: 100px;
    border: 1px solid #ccc;
    border-top: none;
}

.state-select-container {
    top: 60px;
}

.organization-select-container {
    top: 40px;
}

.state-select,
.organization-select {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #fcfcfc;
}

#dateStart {
    width: 150px;
}

#dateEnd {
    width: 150px;
}

#num_people {
    width: 70px;
}

#desc-text {
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    margin-left: 10px;
}

#like-button {
    width: 40px;
    height: 28px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.post-interaction-area {
    display: flex;
    justify-content: space-between;
}

#likes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-bottom: 5%;
}

#likes p {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#like-button {
    width: 49px;
}

@media only screen and (max-width: 1100px) {
    #app {
        grid-template-columns:minmax(0px, 1fr)repeat(6,minmax(0,150px))minmax(0px,1fr);
    }
}  

@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-flow: column wrap;
    }

    #mc_embed_shell {
        width: 488px;
    }
}

@media screen and (max-width: 600px) {
    .logo-brand-container h2 {
        display: none;
    }

    .nav-bar-button {
        width: 140px;
        height: 34px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        margin-top: 3px;
    }

}

@media screen and (max-width: 500px) {
    #mc_embed_shell {
        width: 380px;
    }

    #volunteerformbutton {
        width: 131px;
        height: 43px;
    }

    #header-and-addbutton h1 {
        font-size: 28px;
    }

    .post-modification img {
        width: 48px;
    }
}