<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidHub - Volunteer Opportunities</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="volunteer.css" rel="stylesheet" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- Content goes here -->
        <div style="display: none">{{page = 'volunteer'}}</div>
        <div class="top-login-header-container">
            <div class="top-login-header" v-if="loggedInStatus">
                <div class="top-login-header-button" @click="logout()"><img src="./icons/logout.svg"
                        alt="log-in-icon" />Logout</div>
                <div class="top-login-header-button" @click=""><img src="./icons/profile.svg" alt="log-in-icon" />Edit
                    Profile</div>
            </div>
            <div class="top-login-header" v-else>
                <a class="top-login-header-button" href="signup.html"><img src="./icons/key.svg"
                        alt="sign-up-icon" />Sign
                    Up</a>
                <a class="top-login-header-button" href="login.html"><img src="./icons/user.svg"
                        alt="log-in-icon" />Login</a>
            </div>
        </div>
        <div class="header-background">
        </div>
        <header class="top-nav-bar">
            <a class="logo-brand-container" href="index.html">
                <h2>AidHub</h2>
            </a>
            <nav class="nav-links">
                <ul>
                    <li><a class="nav-link" href="index.html">HOME</a></li>
                    <li><a class="nav-link" href="organizations.html">ORGANIZATIONS</a></li>
                    <li><a class="nav-link" href="volunteer.html">VOLUNTEERING</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 id="title">Volunteer Opportunities</h1>
            <button id="volunteerformbutton" @click="goToVolunteerForm()">Add Volunteer Opportunity</button>
            <div id="search-area">
                <!--search box-->
                <div class="search-box">
                    <form action="" onsubmit="return false">
                        <input type="text" id="search" placeholder="Search...">
                    </form>
                </div>
                <div class="filler-box">
                    <a href="#" class="activebutton"></a>
                </div>
            </div>
            <div class="volunteer-post-container">
                <div class="volunteer-post" v-for="post in volunteerOpportunities"
                    :class="index % 2 === 0? 'post even' : 'post odd'">
                    <h1 class="post-title">
                        {{post.title}}
                    </h1>
                    <p class="post-user">
                        {{post.user}}
                    </p>
                    <p class="post-description">
                        {{post.description}}
                    </p>
                    <div class="post-orgname">
                        <span>Organization: </span>
                        {{post.orgname}}
                    </div>
                    <div class="post-city">
                        <span>City: </span>
                        {{post.city}}
                    </div>
                    <div class="post-state">
                        <span>State: </span>
                        {{post.state}}
                    </div>
                    <div class="post-date-start">
                        <span>Start date: </span>
                        {{post.dateStart }}
                    </div>
                    <div class="post-date-end">
                        <span>End date: </span>
                        {{post.dateEnd ? post.dateEnd : "No End Date"}}
                    </div>

                    <div class="post-num_people">
                        <span>Number of people needed: </span>
                        {{post.num_people}}
                    </div>
                    <div class="post-website" v-if="post.website">
                        <span>Website: </span>
                        {{post.website}}
                    </div>
                    <div class="post-button-container" v-else>
                        <div class="post-likes-container">
                            <p>10 Likes</p>
                            <img class="post-like-button" src="icons/like.svg" alt="like-icon" @click="likePost(post)"
                                v-if="loggedInStatus" />
                        </div>
                        <div class="post-modification-button-container" v-if="loggedInStatus && post.user == user.name">
                            <img src="./icons/edit.svg" alt="edit-icon" @click="editPost(post.id)"
                                class="post-edit-button">
                            <img src="./icons/delete.svg" alt="delete-icon" @click="deletePost(post.id)"
                                class="post-delete-button">
                        </div>
                        <button class="post-apply-button" v-else-if="loggedInStatus">Apply</button>
                    </div>
                    <a class="login-text" href="login.html" v-if="!loggedInStatus">Login To Interact</a>
                </div>
            </div>
    </div>
    <script src="app.js"></script>
</body>

</html>